{% load static %}

<html>
  <head>

  </head>
  <body data-ng-app="Jogging">

    <div data-ng-view></div>

    {% verbatim %}
    <script type="text/ng-template" id="timings.html">
      <form>
        <input type="text" data-ng-model="formData.distance">
        <input type="text" data-ng-model="formData.time">
        <input type="text" data-ng-model="formData.date">
      </form>
      <button data-ng-click="timingsFactory.createTiming(formData); formData = {};">Add</button>
      <ul data-ng-init="timingsFactory.updateTimingList()">
        <li data-ng-repeat="timing in timingsFactory.timings track by $index">
          {{timing.time}}
        </li>
      </ul>
    </script>
    {% endverbatim %}

    <script type="text/javascript" src='{% static 'angular/angular.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'angular-route/angular-route.min.js' %}'></script>

    <script type="text/javascript" src='{% static 'app/main.module.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/timings/timings.module.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/timings/timings.ctrl.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/timings/timings.service.js' %}'></script>
  </body>
</html>
