{% load static %}

<html>
  <head>

  </head>
  <body data-ng-app="Jogging">

    <div data-ng-view></div>

    {% verbatim %}
    <script type="text/ng-template" id="index.html">
      <h1>The Great Jog Timing App</h1>
      <form>
        <h2>Create new account</h2>
        <label for="username">Username: </label>
        <input
          data-ng-model="createAccount.username"
          type="text" name="username">
        <label for="email">Email: </label>
        <input
          data-ng-model="createAccount.email"
          type="text" name="email">
        <label for="password">Password: </label>
        <input
          data-ng-model="createAccount.password"
          type="text" name="password">
        <button
          data-ng-click="">Create</button>
      </form>
      <form>

      </form>
    </script>

    <script type="text/ng-template" id="timings.html">
      <form>
        <label for="time">Time: </label>
        <input
          data-ng-model="createData.formatedTime"
          data-ng-change="createData.time = conversionFactory.from_formated_to_seconds(createData.formatedTime)"
          name="time" type="text">
        <label for="distance">Distance: </label>
        <input
          data-ng-model="createData.distance"
          name="distance" type="number" >
        <label for="date">Date: </label>
        <input
          data-ng-model="createData.date"
          name="date" type="date">
        <button
          data-ng-click="timingsFactory.createTiming(createData); createData = {};">add</button>
      </form>
      <form>
        <label for="startDate">from</label>
        <input
          data-ng-model="filters.start_date"
          type="date" name="startDate">
        <label for="endDate">to</label>
        <input
          data-ng-model="filters.end_date"
          type="date" name="endDate">
        <button
          data-ng-click="timingsFactory.getTimingList(filters);">filter</button>
      </form>
      <ul
        data-ng-init="timingsFactory.getTimingList();">
        <li
          data-ng-repeat="timing in timingsFactory.timings">
          <div
            data-ng-init="status = {editing: false};"
            data-ng-switch="status.editing;">
            <div
              data-ng-switch-when="false">
              <button
                data-ng-click="status.editing = !status.editing">edit</button>
              {{conversionFactory.from_seconds_to_formated(timing.time)}} - {{timing.distance}} - {{timing.date}} - {{timing.distance/timing.time|number:2}} m/s
            </div>
            <div
              data-ng-switch-when="true">
              <form>
                <label for="time">Time: </label>
                <input
                  data-ng-model="updateData.formatedTime"
                  data-ng-init="updateData.formatedTime = conversionFactory.from_seconds_to_formated(timing.time); updateData.time = conversionFactory.from_formated_to_seconds(updateData.formatedTime)"
                  data-ng-change="updateData.time = conversionFactory.from_formated_to_seconds(updateData.formatedTime)"
                  name="formatedTime" type="text">
                <label for="distance">Distance: </label>
                <input
                  data-ng-model="updateData.distance"
                  data-ng-init="updateData.distance = timing.distance;"
                  name="distance" type="text">
                <label for="date">Date: </label>
                <input
                  data-ng-model="updateData.date"
                  data-ng-init="updateData.date = timing.date;"
                  name="date" type="date">
                <button
                  data-ng-click="timingsFactory.updateTiming($index, updateData); status.editing = !status.editing;">save</button>
                <button
                  data-ng-click="status.editing = !status.editing;">cancel</button>
                 ----
                <button
                  data-ng-click="timingsFactory.deleteTiming($index);">delete</button>
              </form>
            </div>
          </div>
        </li>
      </ul>

      <table>
        <tr>
          <td>Week Number</td>
          <td
            data-ng-repeat="(week, timings) in reportsFactory.report">
            {{week}}
          </td>
        </tr>
        <tr>
          <td>Total Distance (m)</td>
          <td
            data-ng-repeat="(week, timings) in reportsFactory.report">
            {{reportsFactory.calculateTotalDistance(timings)}}
          </td>
        </tr>
        <tr>
          <td>Average Speed (m/s)</td>
          <td
            data-ng-repeat="(week, timings) in reportsFactory.report">
            {{reportsFactory.calculateAverageSpeed(timings)|number:2}}
          </td>
        </tr>
      </table>

    </script>
    {% endverbatim %}

    <script type="text/javascript" src='{% static 'angular/angular.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'angular-route/angular-route.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'lodash/dist/lodash.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'restangular/dist/restangular.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'moment/min/moment-with-locales.min.js' %}'></script>

    <script type="text/javascript" src='{% static 'app/main.module.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/accounts/accounts.module.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/accounts/accounts.ctrl.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/accounts/accounts.service.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/timings/timings.module.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/timings/timings.ctrl.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/timings/timings.service.js' %}'></script>
  </body>
</html>
