{% load static %}

<html>
  <head>

  </head>
  <body data-ng-app="Jogging">

    <div data-ng-view></div>

    {% verbatim %}
    <script type="text/ng-template" id="timings.html">
      <button data-ng-click="timingsFactory.updateTimingList()">refresh</button>
      <form>
        <label for="time">Time: </label>
        <input name="time" type="text" data-ng-model="createData.formatedTime" data-ng-change="createData.time = conversionFactory.from_formated_to_seconds(createData.formatedTime)">
        <label for="distance">Distance: </label>
        <input name="distance" type="number" data-ng-model="createData.distance">
        <label for="date">Date: </label>
        <input name="date" type="date" data-ng-model="createData.date">
        <button data-ng-click="timingsFactory.createTiming(createData); createData = {};">add</button>
      </form>
      <ul data-ng-init="timingsFactory.updateTimingList();">
        <li data-ng-repeat="timing in timingsFactory.timings">
          <div data-ng-init="status = {editing: false};" data-ng-switch="status.editing;">
            <div data-ng-switch-when="false">
              <button data-ng-click="status.editing = !status.editing">edit</button>
              {{conversionFactory.from_seconds_to_formated(timing.time)}} - {{timing.distance}} - {{timing.date}}
            </div>
            <div data-ng-switch-when="true">
              <form>
                <label for="time">Time: </label>
                <input name="formatedTime" type="text" data-ng-init="updateData.formatedTime = conversionFactory.from_seconds_to_formated(timing.time);" data-ng-model="updateData.formatedTime" data-ng-change="updateData.time = conversionFactory.from_formated_to_seconds(updateData.formatedTime)">
                <label for="distance">Distance: </label>
                <input name="distance" type="text" data-ng-init="updateData.distance = timing.distance;" data-ng-model="updateData.distance" >
                <label for="date">Date: </label>
                <input name="date" type="date" data-ng-init="updateData.date = timing.date;" data-ng-model="updateData.date">
                <button data-ng-click="timingsFactory.updateTiming($index, updateData); status.editing = !status.editing;">save</button>
                <button data-ng-click="status.editing = !status.editing;">cancel</button>
                 ---- <button data-ng-click="timingsFactory.deleteTiming($index);">delete</button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </script>
    {% endverbatim %}

    <script type="text/javascript" src='{% static 'angular/angular.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'angular-route/angular-route.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'lodash/dist/lodash.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'restangular/dist/restangular.min.js' %}'></script>

    <script type="text/javascript" src='{% static 'app/main.module.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/timings/timings.module.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/timings/timings.ctrl.js' %}'></script>
    <script type="text/javascript" src='{% static 'app/timings/timings.service.js' %}'></script>
  </body>
</html>
